:root {
    --text-color: #333;
    --background-color: #facda1;
    --accent: #f8b983;
    --white: #fff;
}

*, *::after, *::before {
    margin: 0; padding: 0; box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

body {
    background-color: var(--background-color);
    font-size: 16px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: var(--white);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.hamburger, .header__nav-mobile {
    display: none;
}

@media (max-width: 1080px) {
    .header__nav {display: none;}
    .hamburger {display: flex;}
    .header__nav-mobile {display: none;}
}

@media (max-width: 768px) {
    .header__contact {display: none;}
}
