@font-face {
    font-family: 'Shnobel';
    src: url('../Shnobel-Regular.otf');
}

:root {
    --text-color: #333;
    --text-color-accent: #f4517a;
    --background-color: #facda1;
    --accent: #f8b983;
    --white: #fff;
}

*, *::after, *::before {
    margin: 0; padding: 0; box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

body {
    background-color: var(--background-color);
    font-size: 16px;
}

.container {
    /* max-width: 1540px; */
    margin: 0 auto;
    padding: 0 5vw;
}

.header {
    background-color: var(--white);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5vw;
}

.header__logo {
    display: flex;
    /* align-items: center; */
}

.header__logo-link {
    display: flex;
    align-items: center;
}

.header__logo-link img {
    height: 60px;
}

.header__logo-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0  10px;
    font-size: 10px;
    font-weight: 600;
    color: #222;
    transform: color 0.3s;
}

.header__logo-title span:nth-child(1) {
    font-family: 'Shnobel', sans-serif;
    color: var(--text-color-accent);
    font-size: 32px;
}

.header__logo-title:hover span:nth-child(2) {
    color: var(--text-color-accent);
}

.header__nav {

}

.header__list {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    margin: 0 10px;
}

.header__item {
    /* padding: 10px; */
}

.header__item-link {
    font-family: 'Shnobel', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    padding: 10px;
    transition: color .3s;
}

.header__item:nth-child(3) .header__item-link{
    font-size: 26px;
}

.header__item:hover, .header__item-link:hover{
    color: var(--text-color-accent);
    transform: scale(1.05);
}

.header__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__social {
    display: flex;
    /* flex-direction: column; */
}

.header__social i {
    padding: 10px 10px;
    font-size: 28px;
    transition: color .3s;
}

.header__social i:hover {
    color: var(--text-color-accent);
}

.header__contact-list {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.hamburger, .header__nav-mobile {
    display: none;
}

@media (max-width: 1080px) {
    .header__nav {display: none;}
    .hamburger {display: flex;}
    .header__nav-mobile {display: none;}
}

@media (max-width: 768px) {
    .header__contact {display: none;}
}
