body {
    background: #e73e11;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 15px;
}

.category-card {
    padding: 14px;
    cursor: pointer;
    margin: 5px;
    background: #0d0d0d;
    max-width: 350px;
    align-items: center;
}

.category-icon {
    font-size: 48px;
    background: #e11e11;
}





