* {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccd2df;
    color: #222;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.datepicker {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    max-width: 200px;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.datepicker:focus-within {
    border-color: slateblue;
}

.datepicker::after {
    content: '';
    width: 32px;
    height: 32px;
    background-color: lightslategray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-end: 0;
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-188.5-11.5Q280-423 280-440t11.5-28.5Q303-480 320-480t28.5 11.5Q360-457 360-440t-11.5 28.5Q337-400 320-400t-28.5-11.5ZM640-400q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-188.5-11.5Q280-263 280-280t11.5-28.5Q303-320 320-320t28.5 11.5Q360-297 360-280t-11.5 28.5Q337-240 320-240t-28.5-11.5ZM640-240q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/></svg>') no-repeat center / 60%;
}

.datepicker input {
    border-radius: inherit;
    border: none;
    outline: none;
    padding: .5rem 2rem .5rem 1rem;
    font-size: .85rem;
    width: 100%;
}

.datepicker input::placeholder {
    color:lightslategray;
}

.datepicker button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: slategray;
    font-size: .85rem;
}

.calendar {
    background-color: #fff;
    position: absolute;
    top: 100%;
    margin-top: 8px;
    z-index: 9999;
    overflow: hidden;
    padding: 1rem;
    border-radius: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    user-select: none;
    text-align: center;
    font-size: .85rem;
}

.calendar:not([hidden]) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.controls {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.controls button {
    width: 32px;
    height: 32px;
    touch-action: manipulation;
}

.controls button.prev {
    justify-self: start;
}

.controls button.next {
    order: 1;
    justify-self: end;
}

.controls strong.label {
    grid-column: 2;
    font-weight: 600;
    text-transform: uppercase;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: .5rem;
    width: 220px;
}

.days {
    font-weight: 600;
}

.dates span {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    color: slategray;
}

.dates span:hover {
    background-color: rgba(119, 136, 153, 0.2);
}

.dates span.disabled {
    color: rgba(112, 128, 144, 0.25);
    pointer-events: none;
}

.dates span.today {
    background-color: rgba(105, 90, 205, 0.1);
}

.dates span.range-start.range-end {
    border-radius: 4px;
}

.dates span.range-start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: slateblue;
    color: #fff;
}

.dates span.range-end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: slateblue;
    color: #fff;
}

.dates span.in-range {
    border-radius: 0;
    background-color: rgba(105, 90, 205, .2);
}

.action-menu {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.action-menu button {
    background-color: rgba(119, 136, 153, 0.1);
    padding: .25rem .5rem;
}

.action-menu button.cancel {
    margin-left: auto;
}

.action-menu button.apply {
    background-color: slateblue;
    color: #fff;
}